<div>
    <form #loginDataForm="ngForm" class="form-control my-2 my-lg-0 d-flex" (submit)="formInputFilter ? getFilteredProducts(): getProducts()">
        <input type="text" [(ngModel)]="formInputFilter" class="form-control mr-sm-2 flex-row form-control-lg" placeholder="Search Products" [ngModelOptions]="{standalone: true} ">
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0 flex-row">Search</button>
    </form>
</div>
<ul class="list-group">
  <li *ngFor="let product of products" class="list-group-item">
    <app-product-item [product]="product"></app-product-item>
</ul>
