<div class="container-fluid">
    <div class="my-4">
        <h1>User Dashboard</h1>
        <p>Welcome <b>{{getEmail()}}</b> to the user dashboard. From here, you can manage your account and view your cart.</p>
    </div>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View Cart</h5>
                    <p class="card-text">View the products in your cart.</p>
                    <a routerLink="/user/cart" class="btn btn-primary">Go to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">View Purchases</h5>
                    <p class="card-text">View the purchases you have made.</p>
                    <a (click)="viewPurchases()" class="btn btn-primary">Go to Purchases</a>
                </div>
            </div>
        </div>
    </div>
</div>
